/*
-----------------------------------------------
Site Base Styles
----------------------------------------------- */
*{margin:0;padding:0}
body{
	font:13px/1.3  arial,sans-serif;
	color:#000;
	background:#fafafa url(../img/noisemc.png) repeat 0 0;
	}	
/*footer stick*/
body,html{height: 100%;}
.out{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -141px;
	}
.push {height: 141px;}
@font-face {
    font-family: 'GillSansCRegular';
    src: url('fonts/gillsansc-webfont-webfont.eot');
    src: url('fonts/gillsansc-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gillsansc-webfont-webfont.woff') format('woff'),
         url('fonts/gillsansc-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* =Misc
----------------------------------------------- */
a img,fieldset{border:none}
.pda, .print, legend{display:none}
a{color:#1797ae}
ul{list-style:none}
.clr{
	clear:both;
	height:1px;
	font-size:1px;
	line-height:1px;
	}
/* =Header
----------------------------------------------- */
.page-header{
	box-shadow:0 2px 3px rgba(0,0,0,0.1);
	position: relative;
	z-index:10;
	border-bottom: 1px solid #d1d1d1;
	}
	.page-header__in{
		position: relative;
		overflow: hidden;
		}
.content-block{
	margin-bottom: 20px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #d0d0d0;
	box-shadow:0 1px 2px -1px rgba(0,0,0,0.6);
	padding: 15px 20px 20px 20px;
	border-bottom: 1px solid #9d9d9d;
	border-top: none;
	}
	.content-block_first{
		border-top-left-radius:0;
		border-top-right-radius:0;
		padding-top: 13px;
		}
.page-header h1{
	float: left;
	padding: 8px 47px 13px 9px;
	}
.page-header h1 a{
	width: 176px;
	height: 87px;
	float: left;
	text-decoration: none;
	overflow: hidden;
	text-indent: -1983em;
	background: url(../img/logo.png) no-repeat 0 0;
	}
.page-header nav{
	float: left;
	}
.page-header nav ul{
	list-style:none;
	padding-top: 42px;
	}
	.page-header nav li{
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		margin-right: 38px;
		}
		.page-header nav a{
			text-shadow:0 0 1px rgba(255,255,255,1)
		}
h2{
	font: normal 32px 'GillSansCRegular';
}
/* =content
----------------------------------------------- */
/* =Footer
----------------------------------------------- */
.page-footer {
	padding: 34px 0 32px 0;
	font-size: 14px;
	box-shadow: 0 -5px 5px -4px rgba(0,0,0,0.1);
	height: 75px;
	width: 1120px;
	text-align: left;
	margin: 0 auto;
	}
	.footer__in {
		position: relative;
		width: 990px;
		margin: 0 auto;
		}
		.footer__iata {
			display: block;
			height: 46px;
			width: 45px;
			margin-top: 13px;
			background: url(../img/icons.png) 0 0 no-repeat;
			}
		.footer__nav {
			position: absolute;
			top: 0;
			left: 243px;
			margin-left: -13px;
			}
			.footer__nav a {margin: 0 13px;}
		/* pay methods */
		.footer__pays {
			position: absolute;
			top: 28px;
			left: 243px;
			overflow: hidden;
			margin-left: -7px;
			}
			.footer__pays li {
				float: left;
				display: inline-block;
				margin-left: 7px;
				}
				.footer__pays a {
					display: block;
					width: 45px;
					height: 46px;
					background: url(../img/icons.png) 0 0 no-repeat;
					}
				.footer__visa {background-position: -49px 0 !important;}
				.footer__master {background-position:  -100px !important;}
				.footer__qiwi {background-position: -152px 0 !important;}
				.footer__sber {background-position:  -203px !important;}
				.footer__ya {background-position:  -254px !important;}
				.footer__wm {background-position:  -305px !important;}
		/* hot line */
		.vcard_footer {
			position: absolute;
			right: 20px;
			top: 0;
			text-align: right;
			}
			/* email */
			.vcard_footer div {margin-bottom: 5px;}
		/* socials */
		.footer__soc {
			position: absolute;
			top: 46px;
			right: 20px;
			overflow: hidden;
			margin-left: -3px;
			}
			.footer__soc li {
				float: left;
				display: inline-block;
				margin-left: 3px;
				}
				.footer__soc a {
					display: block;
					width: 25px;
					height: 25px;
					background: url(../img/soc.png) 0 0 no-repeat;
					}
					.footer__vk {background-position: -25px 0 !important;}
					.footer__tw {background-position: -51px 0 !important;}
					.footer__odn {background-position: -76px 0 !important;}

