.steps{
	color:#8f8f8f;
	margin-bottom: 14px;
	}
	.steps em{
		font-style:normal;
		}
	.steps__done{
		color: #000;
		}
	.steps strong{
		color: #000;
		}
.order-block{
	border-radius:10px;
	background: #f7f7f7;
	margin-bottom: 20px;
	}
	.order-block:last-child{
		margin-bottom: 0;
		}
	.content-block ul{
		margin-top: 5px;
		font-size: 14px;
		}
	.content-block li{
		margin-bottom: 10px;
		}
	.content-block h3{
		font-size: 18px;
		}
		.layout__col2 h3{
			margin-bottom: 5px;
		}
.order-block_shadow{
	box-shadow:3px 3px 3px rgba(0,0,0,0.3)
	}
	.order-block__header{
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-top: 1px solid #e0e0e0;
		background: #fefefe;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #fefefe 0%, #e1e1e1 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e1e1e1));
		background: -webkit-linear-gradient(top, #fefefe 0%,#e1e1e1 100%);
		background: -o-linear-gradient(top, #fefefe 0%,#e1e1e1 100%);
		background: -ms-linear-gradient(top, #fefefe 0%,#e1e1e1 100%);
		background: linear-gradient(to bottom, #fefefe 0%,#e1e1e1 100%);
		text-align: center;
		padding: 10px 0;
		}
		.order-block__header h2{
			font-size: 24px;
			font-weight: normal;
			}
	.order-block__content{
		padding: 10px 20px 15px 20px;
		}
	.flight__wait{
		text-align: center;
		font-size: 13px;
		color: #8f8f8f;
		border-top: 1px solid #d2d2d2;
		padding-top: 13px;
		margin-top: 14px;
		margin-bottom: 10px;
		}
		.flight__wait span{
			padding:3px 0 3px 26px;
			display: inline-block;
			background: url(../img/icon-wait.png) no-repeat 0 20%;
			}
	.flight__details{
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
		}
	.flight__details td{
		vertical-align: top;
		font-size: 14px;
		}
		.flight__details td span{
			color: #1797ae;
			display: block;
			}
		.flight__details thead th{
			vertical-align: top;
			padding:4px 0 12px;
			text-align: left;
			font-weight: normal;
			font-size: 13px;
			color: #8f8f8f;
			}
			.flight__details .flight__company{
				width: 96px;
				vertical-align: middle;
				}
			.flight__departure{
				width: 196px;
				font-weight: bold;
				font-size: 15px;
				}
			.flight__arrival{
				width: 186px;
				font-weight: bold;
				font-size: 15px;
				}
			.flight__plane{
				width: 166px;
				}
.flight__header{
	margin-bottom: 12px;
	padding-top: 5px;
	}
	.flight__header h3{
		font-size: 24px;
		font-weight: bold;
		display: inline-block;
		}
		.flight__start{
			color: #fe3b83;
			}
		.flight__destination{
			color: #1797ae;
			}
		.icon-plane{
			display: inline-block;
			width: 31px;
			height: 31px;
			background: url(../img/icon-plane.png) no-repeat 0 0;
			vertical-align: middle;
			margin: 0 5px;
			}
		.flight__date{
			font-size: 15px;
			margin-left: 10px;
			}
.bill{
	box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.9);
	text-align: center;
	padding-bottom: 24px;
	margin-bottom: 14px;
	padding: 14px 20px 24px 20px;
	background: #2ec8d8 url(../img/bill.png) repeat-x -3px 100%;
	}
	.bill h3{
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		line-height: 1;
		margin-bottom: 15px;
		}
		.bill h3 span{
			display: block;
			padding-top: 3px;
			font-size: 14px;
			font-weight: normal;
			}

	.bill table{
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
		}
		.bill td,.bill th{
			padding-bottom: 9px;
		}
		.bill th{
			font-weight: bold;
			text-align: left;
			font-size: 15px;
			color: #fff;
			}
		.bill td{
			text-align: right;
			font-size: 14px;
			}
			.bill td strong{
				font-size: 15px;
				}
	.bill-itogo{
		text-align: center;
		color: #fe3b83;
		margin-bottom: 18px;
		}
		.bill-itogo h3{
			font-size: 18px;
			text-align: center;
			font-weight: bold;
			color: #000;
			}
		.bill-itogo strong{
			font-size: 42px;
			font-weight: normal;
			display: inline-block;
			vertical-align: middle;
			}
		.bill-itogo span{
			font-size: 24px;
			display: inline-block;
			vertical-align: middle;
			}
		.bill-left{
			font-size: 14px;
			}
			.bill-left em{
				font-style:normal;
				color: #fe3b83;
				}
/*orderform
--------------------------------------*/
.order-login{
	font-size: 15px;
	}
	.order-login h3{
		font-size: 15px;
		font-weight: normal;
		margin-bottom: 14px;
		}
		.order-login h3 a{
			font-size: 24px;
			}
		.order-login h3 a.order-login__active{
			color: #fe3b83;
			text-decoration: none;
			}
.form{
	width: 100%;
	display: inline-block;
	margin: 0px 0 5px 0;
	}
.form_loginregister .field{
	width: 320px;
	float: left;
	margin-right: 0;
	}
	.field label{
		font-size: 14px;
		display: block;
		padding-bottom: 6px;
		}
	.input{
		border: 1px solid #c9c9c9;
		border-radius:8px;
		height: 32px;
		line-height: 30px;
		font-size: 14px;
		display: block;
		width: 100%;
		padding: 0 10px;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		}
		.input_error{
			border-color: #fe3b83;
		}
		.input__wrap{
			position: relative;
			z-index:20;
		}
		.input__errormessage{
			font-size: 13px;
			position: absolute;
			color: #fff;
			padding: 5px 13px 5px 8px;
			background: #fe3b83;
			border-radius: 5px;
			left: 0;
			top: 33px;
			display: inline-block;
			white-space:nowrap;
			}
			.input__errormessage:before{
				position: absolute;
				left:9px;
				top: -7px;
				content:' ';
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 6px 7px 6px;
				border-color: transparent transparent #fe3b83 transparent;
				}
		::-webkit-input-placeholder {
			color: #8f8f8f;
		}
		:-moz-placeholder {
		    color: #8f8f8f;
		}
		:-ms-input-placeholder {
		    color: #8f8f8f;
		}

	.form_loginregister .field:last-child{
		width: 308px;
		float: right;
		margin-right: 0;
		}
/* order fill
=------------*/
.order-fill{
	font-size: 15px;
	}
.order-fill h3{
	font-size: 24px;
	font-weight: normal;
	color: #8f8f8f;
	margin-bottom: 10px;
	}
.field{
	float: left;
	margin-right: 14px;
	margin-top: 16px;
	}
.field__sub label{
	font-size: 11px;
	display: inline;
	}
.field__sub input{
	margin-right: 4px;
	}
.select{
	position: relative;
	}
	.select__visual{
		border: 1px solid #c9c9c9;
		height: 30px;
		line-height: 30px;
		white-space: nowrap;
		overflow: hidden;
		padding: 0 30px 0 10px;
		background:#fff url(../img/select.png) no-repeat 100% 50%;
		border-radius:8px;
		font-size: 14px;
		}
	.select select{
		position: absolute;
		font-size: 30px;
		top: 1px;
		left: 0;
		width: 100%;
		opacity:0
		}
.input_day{
	width: 40px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	}
.input_year{
	width: 41px;
	border-top-left-radius: 0;	
	border-bottom-left-radius: 0;
	}
.input_month{
	width: 41px;
	border-radius:0;
	border-left: none;
	border-right: none;
	}
.sex div{
	
	}
	.sex__male,.sex__female{
		display: inline-block;
		height: 30px;
		border: 1px solid #c9c9c9;
		background: #fff;
		width: 35px;
		text-align: center;
		line-height: 30px;
		font-size: 14px;
		color: #8f8f8f;
		border-radius: 8px;
		cursor: pointer;
		}
	.sex__female{
		border-top-left-radius: 0;	
		border-bottom-left-radius: 0;
		border-left: none;
		}
	.sex__male{
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		}
	.sex__active{
		color: #fff;
		background: #0c8ea1;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjOGVhMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1OWQ2ZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #0c8ea1 0%, #59d6de 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c8ea1), color-stop(100%,#59d6de));
		background: -webkit-linear-gradient(top, #0c8ea1 0%,#59d6de 100%);
		background: -o-linear-gradient(top, #0c8ea1 0%,#59d6de 100%);
		background: -ms-linear-gradient(top, #0c8ea1 0%,#59d6de 100%);
		background: linear-gradient(to bottom, #0c8ea1 0%,#59d6de 100%);
		}
/*Random things*/
.field_sex{
	width: 74px;
	}
.field_name{
	width: 208px;
	}
.field_lastname{
	width: 196px;
	}
.field_date{
	width: 122px;
	float: right;
	margin-right: 0;
	}
	.field_date input{
		display: inline-block;
		padding: 0;
		text-align: center;
		}
.field_nation{
	width: 200px;
	}
.field_document{
	width: 153px;
	}
.field_documentid{
	width: 122px;
	}
/* pay methods
--------------------------*/
.itog{
	text-align: center;
	font-size: 13px;
	padding-top: 10px;
	}
	.itog__price strong{
		font-size: 24px;
		font-weight: bold
		}	
		.itog__pricenum{
			color: #fe3b83;
			font-size: 24px;
			font-weight: normal;
			font-style: normal;
			margin-left: 10px;
			}
			.itog__pricenum b{
				font-size: 42px;
				font-weight: normal;
				vertical-align:middle;
				}
		.itog__oferta{
			margin-bottom: 10px;
		}
		.itog__book{
			display: inline-block;
			font-size: 24px;
			font-weight: bold;
			color: #604600;
			text-shadow:0 1px 0 #ffe8a3;
			text-decoration: none;
			padding: 8px 30px;
			border-radius: 10px;
			box-shadow: 0 4px 4px -4px #000;
			background: #ffe76c;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTc2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmI0MGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top, #ffe76c 0%, #ffb40c 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe76c), color-stop(100%,#ffb40c));
			background: -webkit-linear-gradient(top, #ffe76c 0%,#ffb40c 100%);
			background: -o-linear-gradient(top, #ffe76c 0%,#ffb40c 100%);
			background: -ms-linear-gradient(top, #ffe76c 0%,#ffb40c 100%);
			background: linear-gradient(to bottom, #ffe76c 0%,#ffb40c 100%);
			}
/* paymethods
-----------------------*/
.paymethods{

	}
	.paymethods h3{
		font-size: 24px;
		font-weight: normal;
		color: #8f8f8f;
		margin-bottom: 13px;
		}
	.paymethods__list{
		list-style:none;
		font-size: 14px;
		}
		.paymethods__list li{
			position: relative;
			margin-bottom: 16px;
			}
		.paymethods__list input{
			margin-right: 12px;
			vertical-align: middle;
			}
		.paymethods__price{
			position: absolute;
			right: 0;
			color: #8f8f8f;
			text-shadow:0 1px 0 #fff;
			top: -3px;
			white-space: nowrap;
			text-align: right;
			line-height: 1;
			}
			.paymethods__price b{
				font-size: 18px;
				}
		.paymethods__descr{
			background: #fff;
			padding: 8px 16px;
			border-radius: 10px;
			margin-top: 10px;
			}
		.paymethods__active .paymethods__price{
			color: #fe3b83;
			}